include ./header
link(href='/css/book-page.css', rel='stylesheet')
title BookBanyan | #{book.title}
section.book-author
    .container
        .row
            .col-md-8.col-sm-8.abt-book
                .row
                    .col-md-6.col-sm-6
                        .bcover
                            img.img-rounded(src='/rest/book/' + book.id + "/cover?imageSize=500", alt='1')
                    .col-md-6.col-sm-6.side-bdetails
                        .bdetails
                            h6
                                | #{book.title}
                                small | #{BookGenre[book.genre]}
                            p
                                | By &nbsp;
                                a(href='BookB-book-author-page.html')
                                    span.text-muted #{book.author}
                            .rating-display
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star-empty
                            p.reviewcount
                                small 55 ratings | 12 ratings
                        //.butit
                            p.buynw Buy Now From
                            .amazon
                                p
                                    img(src='/img/amazon1.png', alt='1')
                                    span.text-primary Rs 120
                                    a(href='')
                                        span.text-warning Buy
                            .flipkart
                                p
                                    img(src='/img/flipkart.png', alt='1')
                                    span.text-primary Rs 120
                                    a(href='')
                                        span.text-warning Buy
                        .summary
                            h6 Summary
                            p
                                | #{book.summary}
                .row
                    .col-md-12.few-lines
                        h6 Few lines from the Book
                        p
                            span.fa.fa-quote-left
                            span.few-lines-text
                                | I leave college as an Indian and then I become a Hindu, a Muslim, a Brahmin, a Sudra, a Bengali or a Madrasi. I become  everything else conceivable in the narrowest mind but not Indian.“  This probably is applicable to every student passing out from college.
                        p
                            span.fa.fa-quote-left
                            span.few-lines-text
                                | Just as a she goat maybe milked at any time at one’s own will, so can these women be enjoyed at any time at one’s discretion.
            .col-md-offset-1.col-md-3.col-sm-offset-1.col-sm-3.abt-author.hidden-xs
                .panel.panel-default
                    .panel-heading.text-center About Author
                    .panel-body.text-center
                        img(src='/img/upic2.png', alt='1')
                    table.table
                        tbody
                            tr
                                th.bg-info.text-center(colspan='2') Personal Information
                            tr
                                td
                                    strong Name
                                td Ravi Kumar
                            tr
                                td
                                    strong Born
                                td
                                    | 6th Oct 1986(27 years)
                                    br
                                    | Hyderabad, Telangana, India
                            tr
                                td
                                    strong Occupation
                                td
                                    | Purchase Officer, BHEL
                                    br
                                    | Novelist
                            tr
                                td
                                    strong Notable Work
                                td
                                    a(href='') Unrecognized Potential
                            tr
                                th.bg-info.text-center(colspan='2') Interests
                            tr
                                td
                                    strong Hobbies
                                td
                                    | Reading, Movies
                                    br
                                    | Tv Series
                            tr
                                td
                                    strong Fav Books
                                td
                                    a(href='')
                                        | Anna Karenina
                                        br
                                        | Crime & Punishment
                                        br
                                        | The Fountainhead
                            tr
                                td
                                    strong Fav Authors
                                td
                                    a(href='')
                                        | Franz Kafka
                                        br
                                        | Fyodor Dostoevsky
                                        br
                                        | Haruki Marukami
        //
          row
    //
      container
section.related-books1
    .container
        .row.related-books
            .col-md-12
                h6.head1 Related Books
            .col-md-2.col-sm-2.col-xs-6
                img.img-rounded(src='/img/book2.jpg', alt='1')
                h6 Title Of Book
                p
                    a(href='') By Sampoornesh Babu
                .rating-display
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star-empty
                p.reviewcount
                    | | Rs 199
            .col-md-2.col-sm-2.col-xs-6
                img.img-rounded(src='/img/book1.jpg', alt='1')
                h6 Title Of Book
                p By Sampoornesh Babu
                .rating-display
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star-empty
                p.reviewcount
                    | | Rs 199
            .col-md-2.col-sm-2.col-xs-6
                img.img-rounded(src='/img/book3.jpg', alt='1')
                h6 Title Of Book
                p By Sampoornesh Babu
                .rating-display
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star-empty
                p.reviewcount
                    | | Rs 199
            .col-md-2.col-sm-2.col-xs-6
                img.img-rounded(src='/img/book4.jpg', alt='1')
                h6 Title Of Book
                p By Sampoornesh Babu
                .rating-display
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star-empty
                p.reviewcount
                    | | Rs 199
            .col-md-2.col-sm-2.col-xs-6.hidden-xs
                img.img-rounded(src='/img/book5.jpg', alt='1')
                h6 Title Of Book
                p By Sampoornesh Babu
                .rating-display
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star-empty
                p.reviewcount
                    | | Rs 199
section.reviews1
    .container
        .row
            .col-md-12.reviews
                h6.head1 Reviews
                each review in reviews
                    .panel.panel-default
                        .panel-heading
                            .revimg
                                img.img-circle(src='/img/upic1.png', alt='1')
                            .namewrap
                                p.revname
                                    | #{review.user.name}
                                    //span
                                        small 1 hr ago
                                //p.text-muted 34 reviews
                            .revrating
                                p.rated
                                    small Rated
                                .rating-display
                                    div(id="rating" + review.id)
                        .panel-body
                            h6 #{review.title}
                            p #{review.review}
section.footer
    .container
        .row
            .col-md-8.col-sm-8.col-xs-12
                ul.footer-nav.pull-left
                    li
                        a(href='#') About BookBanyan
                    li
                        a(href='#') Team
                    li
                        a(href='#') Blog
                    li
                        a.active(href='#') Pricing
                    li
                        a(href='#') Terms & Conditions
                    li
                        a(href='#') Contact Us
            .col-md-4.col-sm-4.col-xs-12.copyright
                ul.footer-nav.pull-right
                    li Copyright © 2014 BookBanyan
script.
    var reviews = JSON.parse ( '!{JSON.stringify(reviews || [])}' );
script(src='/js/raty-master/lib/jquery.raty.js')
script(src="/js/book.js")
