include ../includeHeader
link(href='css/bookb-dash-blogger.css', rel='stylesheet')
link(href='js/raty-master/lib/jquery.raty.css', rel='stylesheet')
title BookBanyan | Blogger
body
    header.header
        #myheader.navbar.navbar-fixed-top
            .navbar-inner
                .container-fluid
                    .col-xs-2
                        a.navbar-brand(href='#')
                            img(src='img/logo.png')
                    //form.navbar-form.navbar-left.hidden-xs(role='search')
                        .form-group
                            input.form-control(type='text', placeholder='Search')
                            a(href='')
                                span.glyphicon.glyphicon-search
                    //
                      <ul class="nav navbar-right">
                                <div class="noti">
                               <a href="#"><span class="glyphicon glyphicon-bell"></span> <span class="badge">42</span></a>
                               </div>
                              </ul>
                    ul.nav.navbar-right
                        .noti.dropdown
                            //a#dropdownMenu2.dropdown-toggle(href='', data-toggle='dropdown')
                                span.glyphicon.glyphicon-info-sign
                                span.badge.badge1 10
                            ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu2')
                                li.text-center Notifications
                                li(role='presentation')
                                    a(role='menuitem', tabindex='-1', href='#')
                                        img.img-circle(src='img/upic2.png', alt='1')
                                        span A new book is available for review
                                li(role='presentation')
                                    a(role='menuitem', tabindex='-1', href='#')
                                        img.img-circle(src='img/upic1.png', alt='1')
                                        span Your review has been approved by the admin.
                        .dropdown.maindropdown
                            button#dropdownMenu1.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
                                img.img-circle(src='img/upic1.png', alt='1')
                                span.hidden-xs= user.name
                                span.glyphicon.glyphicon-chevron-down
                            ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
                                //li(role='presentation')
                                    a(role='menuitem', tabindex='-1', href='#') Settings
                                //li(role='presentation')
                                    a(role='menuitem', tabindex='-1', href='#') Profile
                                //li.divider(role='presentation')
                                li(role='presentation')
                                    a(role='menuitem', tabindex='-1', href='/logout') Sign Out
    section.form-mobile.visible-xs
        .container
            .row
                .col-xs-12
                    form.navbar-form(role='search')
                        .form-group
                            input.form-control(type='text', placeholder='Search')
                            a(href='')
                                span.glyphicon.glyphicon-search
    section.dashboard
        .container-fluid
            .row
                .col-md-2.col-sm-2.hidden-xs.side1
                    ul.nav.nav-tabs.nav-stacked
                        li.active
                            a(data-toggle='tab', href='#dash2')
                                span.glyphicon.glyphicon-pencil
                                | reviews
                        //li
                            a(data-toggle='tab', href='#dash3')
                                span.glyphicon.glyphicon-tasks
                                | bookshelf
                        //li
                            a(data-toggle='tab', href='#dash4')
                                span.glyphicon.glyphicon-envelope
                                | INbox
                //
                  col-md-2 hidden-xs
                .col-md-1.col-sm-1.col-xs-1.visible-xs.side2
                    ul.nav.nav-tabs.nav-stacked
                        li.active
                            a(data-toggle='tab', href='#dash2')
                                span.glyphicon.glyphicon-pencil
                        //li
                            a(data-toggle='tab', href='#dash3')
                                span.glyphicon.glyphicon-tasks
                        //li
                            a(data-toggle='tab', href='#dash4')
                                span.glyphicon.glyphicon-envelope
                //
                  side-2 visible-xs
                .col-md-10.col-lg-10.col-sm-10.col-xs-12
                    .tab-content
                        #dash2.tab-pane.fade.in.active
                            div#dashboard
                                section.related-books
                                    .col-md-12
                                        h6.text-danger Pending Books for Review
                                    each rev in pending
                                        .col-md-2.col-sm-2.col-xs-6
                                            .bookdispimg.pop-dis
                                                .caption
                                                    //a(href='#dashb1', data-toggle='tab')
                                                        span.icon-pencil
                                                        | write a review
                                                    a(href='/book/' + rev.book.id, target='_blank') view
                                                .sidepop
                                                    .bhb
                                                        h6
                                                            | #{rev.book.title}
                                                            br
                                                            small #{BookGenre[rev.book.genre]}
                                                        p.text-right 100 points
                                                    .bhb1
                                                        p.text-default #{rev.book.summary}
                                                        p.text-primary #{rev.book.author}
                                                        a.btn.btn-block.btn-warning.writeReview(data-id=rev.id)
                                                            span.icon-pencil
                                                            | write a review
                                                img.img-rounded(src='/rest/book/' + rev.book.id + "/cover?imageSize=200", alt='1')
                                            h6 #{rev.book.title}
                                            p
                                                a(href='') By #{rev.book.author}
                                            .rating-display
                                                span.glyphicon.glyphicon-star
                                                span.glyphicon.glyphicon-star
                                                span.glyphicon.glyphicon-star
                                                span.glyphicon.glyphicon-star
                                                span.glyphicon.glyphicon-star-empty
                                            p.reviewcount
                                                | | 100 pts
                                    .clearfix.visible-sm
                                    .clearfix.visible-xs
                                    //
                                       *********************reviewd books************************************
                                    .col-md-12
                                        h6.head3 Reviewed books
                                    each review in reviewed
                                        .col-md-2.col-sm-2.col-xs-6
                                            .bookdispimg.pop-dis
                                                .caption
                                                    a(href='/book/' + review.book.id, target='_blank') view
                                                .sidepop
                                                    .bhb
                                                        h6
                                                            | #{review.book.title}
                                                            br
                                                            small #{BookGenre[review.book.genre]}
                                                        p.text-right 100 points
                                                    .bhb1
                                                        p.text-default #{review.book.summary}
                                                        p.text-primary #{review.book.author}
                                                        //a.btn.btn-block.btn-warning(href='')
                                                            span.icon-pencil
                                                            | write a review
                                                img.img-rounded(src='/rest/book/' + review.book.id + "/cover?imageSize=200", alt='1')
                                            h6= review.book.title
                                            p
                                                a(href='') By #{review.book.author}
                                            .rating-display
                                                span.glyphicon.glyphicon-star
                                                span.glyphicon.glyphicon-star
                                                span.glyphicon.glyphicon-star
                                                span.glyphicon.glyphicon-star
                                                span.glyphicon.glyphicon-star-empty
                                            p.reviewcount
                                                | | 100 pts
                            div#review
                                .row
                                    .col-sm-4.col-md-3.col-lg-3.col-sm-offset-1
                                        .revimg
                                            img.img-rounded#selectedBookImg(src='img/The_Little_Hearts.jpg', alt='1')
                                    .col-sm-6
                                        .title8
                                            h6#selectedBookTitle
                                                | Title of Book
                                            p
                                                | by
                                                span.text-muted#selectedBookAuthor Ravi Kumar
                                        .summary1
                                            h6 Summary
                                            p#selectedBookSummary
                                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, cupiditate, velit esse eos maiores accusantium dignissimos porro animi provident reprehenderit! Exercitationem, at, vero nisi omnis deserunt cum est rerum ex!
                                .row
                                    .col-sm-offset-1.col-sm-9.text-center.commentonbuk
                                        h6 your comments on the book
                                    .col-sm-offset-1.col-sm-11.col-md-11.col-lg-11.blogger-form
                                        form.form-horizontal#reviewForm
                                            .form-group
                                                label.col-sm-3.control-label(for='name') Rating
                                                .col-sm-7
                                                    div#ratingstar
                                            .form-group
                                                label.col-sm-3.control-label(for='title') Title
                                                .col-sm-7
                                                    input.form-control(name="title", type='name', placeholder='Review Title')
                                            .form-group
                                                label.col-sm-3.control-label(for='name') Review
                                                .col-sm-7
                                                    textarea#reviewblgr.form-control(name='review', type='text', rows='8', placeholder='Write the review here')
                                            .form-group
                                                label.col-sm-3.control-label(for='name') Feedback to Author
                                                .col-sm-7
                                                    textarea#reviewblgr.form-control(name='feedback',type='text', rows='8', placeholder='Write the feedback here')
                                            //.form-group
                                                label.col-sm-3.control-label(for='name') Blog url
                                                .col-sm-7
                                                    input#blogurl.form-control(type='text', placeholder='Enter your blog address')
                                            .form-group
                                                label.col-sm-3.control-label(for='name') Comments
                                                .col-sm-7
                                                    textarea#blgrcomments.form-control(type='text',name='comment', rows='8', placeholder='Write any comments here')
                                            .form-group
                                                .col-sm-offset-3.col-sm-6
                                                    input#send.btn.btn-large.btn-info(type='submit', value="Submit")
                                                    a.cancelWriteReview.btn.btn-large.btn-info Cancel
script.
    var pendingReviews = JSON.parse ( '!{JSON.stringify(pending || [])}' );
    var BookGenre = JSON.parse ( '!{JSON.stringify(BookGenre || [])}' );
script(src='/js/raty-master/lib/jquery.raty.js')
script(src='/js/blogger_dashboard.js')
